# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.log
*.dll
*.pdb
*.cache
*.deps.json
*.~$*.*

.vs/

Data.txt

AspDotNetDemo/.vs/
AspDotNetDemo/Core/obj/
AspDotNetDemo/Core/bin/
AspDotNetDemo/Data/obj/
AspDotNetDemo/Data/bin/
AspDotNetDemo/WebAPIApp/obj/
AspDotNetDemo/WebAPIApp/bin/
AspDotNetDemo/DataManagement/obj/
AspDotNetDemo/DataManagement/bin/
AspDotNetDemo/WPFDataManagement/obj/
AspDotNetDemo/WPFDataManagement/bin/
AspDotNetDemo/BlazorDataManagementServer/obj/
AspDotNetDemo/BlazorDataManagementServer/bin/
AspDotNetDemo/ConsoleDataTester/bin/
AspDotNetDemo/ConsoleDataTester/obj/
AspDotNetDemo/WebAPIApp.Tests/obj/
AspDotNetDemo/WebAPIApp.Tests/bin/
AspDotNetDemo/WebAPIApp/bin/
AspDotNetDemo/WebAPIApp/obj/
AspDotNetDemo/Abstractions/obj/
AspDotNetDemo/Abstractions/bin/
AspDotNetDemo/Core.Tests/obj/
AspDotNetDemo/Core.Tests/bin/
AspDotNetDemo/BlazorDataServer/bin/
AspDotNetDemo/BlazorDataServer/obj/
AspDotNetDemo/DataPresentation/obj/
AspDotNetDemo/DataPresentation/bin/
AspDotNetDemo/BlazerServerAppDemo/obj/
AspDotNetDemo/BlazerServerAppDemo/bin/

Northwind.sql/SqlCnverter/obj/
Northwind.sql/SqlCnverter/.vs/
AspDotNetDemo/TableInsertGen/obj/
AspDotNetDemo/TableInsertGen/bin/
AspDotNetDemo/BlazorWpfApp/bin/
AspDotNetDemo/BlazorWpfApp/obj/
AspDotNetDemo/BlazorWasmDashboard/obj/
AspDotNetDemo/Core6/obj/
AspDotNetDemo/BlazorWasmDashboard/bin/
AspDotNetDemo/DomainData/obj/
